# Session #1 Homework

## Set up the environment

You need to install Python, NumPy, Pandas, Matplotlib and Seaborn. For that, you can the instructions from <a href='https://github.com/alexeygrigorev/mlbookcamp-code/blob/master/course-zoomcamp/01-intro/06-environment.md'>06-environment.md</a>.

In [1]:
import numpy as np
import pandas as pd

## Question 1

What's the version of NumPy that you installed?

In [2]:
np.__version__

'1.21.2'

## Question 2

What's the version of Pandas?

In [3]:
pd.__version__

'1.3.3'

## Getting the data

For this homework, we'll use the same dataset as for the next session - the car price dataset.

Download it from <a href='https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv'>here</a>. 

Now read it with Pandas.

## Question 3

What's the average price of BMW cars in the dataset?

In [4]:
data = pd.read_csv("data/data.txt")

In [5]:
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [6]:
data[data['Make'] == 'BMW']['MSRP'].mean()

61546.76347305389

## Question 4

Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [7]:
data[data['Year'] >= 2015]['Engine HP'].isnull().sum()

51

## Question 5

* Calculate the average "Engine HP" in the dataset.
* Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
* Now, calcualte the average of "Engine HP" again.
* Has it changed?

In [8]:
mean_hp_before = data['Engine HP'].mean()
mean_hp_before

249.38607007176023

In [9]:
mean_hp_after = data['Engine HP'].fillna(mean_hp_before).mean()
mean_hp_after

249.38607007176023

In [10]:
print(round(mean_hp_before))
print(round(mean_hp_after))

249
249

## Question 6

* Select all the "Rolls-Royce" cars from the dataset.
* Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
* Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
* Get the underlying NumPy array. Let's call it X.
* Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
* Invert XTX.
* What's the sum of all the elements of the result?

Hint: if the result is negative, re-read the task one more time

In [11]:
royce_data = data[data['Make'] == 'Rolls-Royce']
X = royce_data[['Engine HP', 'Engine Cylinders', 'highway MPG']].drop_duplicates().to_numpy()
X

array([[325.,   8.,  15.],
       [563.,  12.,  19.],
       [563.,  12.,  21.],
       [563.,  12.,  20.],
       [322.,  12.,  15.],
       [453.,  12.,  19.],
       [624.,  12.,  21.]])

In [12]:
XTX = X.T.dot(X)
XTX

array([[1.754801e+06, 3.965600e+04, 6.519600e+04],
       [3.965600e+04, 9.280000e+02, 1.500000e+03],
       [6.519600e+04, 1.500000e+03, 2.454000e+03]])

In [13]:
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 5.17815728e-05,  9.06587044e-04, -1.92984188e-03],
       [ 9.06587044e-04,  1.05723058e-01, -8.87084092e-02],
       [-1.92984188e-03, -8.87084092e-02,  1.05900809e-01]])

In [14]:
XTX_inv @ XTX

array([[ 1.00000000e+00, -1.73472348e-18,  8.21391566e-16],
       [ 1.84297022e-13,  1.00000000e+00,  1.39888101e-14],
       [-3.60211860e-13, -1.58206781e-14,  1.00000000e+00]])

In [15]:
XTX_inv.sum()

0.032212320677486195

## Question 7

* Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].
* Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
* What's the value of the first element of w?.

In [16]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
y

array([1000, 1100,  900, 1200, 1000,  850, 1300])

In [17]:
w = (XTX_inv @ X.T) @ y
w

array([ 0.19989598, 31.02612262, 31.65378877])

In [18]:
w[0]

0.19989598183186175